<h1>Welcome</h1>
<h2>How are things standing?</h2>
<% start_date = Donegood.Competitions.start_dates |> List.first %>
<%= for user <- @users |> List.delete(current_user(@conn)) do %>
  <%= if user.username != nil do %>
    <li>
      <a href="<%= Routes.competition_path(@conn, :fixture, current_user(@conn).username, user.username)%>">
        VS <%= user.name %>
      </a>
    </li>
  <% end %>
<% end %>
