<%= render "_leaderboard.html",
  conn: @conn,
  current_user: @current_user,
  weekly_leaderboard_scores: @weekly_leaderboard_scores,
  users: Donegood.Accounts.list_users,
  start_dates: start_dates()
   %>
  <%# render "_overview.html", conn: @conn, current_user: @current_user %>
<a href="/deeds">Everything</a>
