@import "./phoenix.css";

$green: #8CDB4D;
$red: #DB4D4D;

h2 span {
  float: right;
  font-size: 60%;
}
footer {
  position: fixed;
  right: 0;
  bottom: 10px;
  height: 40px;
  background-color: white;
  z-index: 100;
  padding: 10px;
}
td,
th {
  vertical-align: top;
}
td h3,
.score {
  font-size: 100px;
  margin: 0;
  padding: 0;
  margin-top: -24px;
}
td ul {
  border-top: 1px solid #ccc;
  padding: 0;
  padding-top: 10px;
}
td ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 70%;
}
.score-button {
  border: 1px solid #eee;
  padding: 8px;
}
.score-button label {
  display: inline;
}

input.inline {
  display: inline;
  width: inherit;
}
form p {
  margin-top: 10px;
}
.pull-right {
  float: right;
}
table.league-table{
  overflow: scroll;
  overflow-x: auto;

}
table.league-table *{
  white-space: nowrap;

}
.feedback{

}
.avatar{
  width: 60px;
  padding: 8px 0 0 0;
  img{
    border-radius: 32px;
  }
}
.this-week td{
  vertical-align: middle;
}
.current-user {
  img{
    border-radius: 10px;
    vertical-align:top;
  }
}
